.icon--close-style1 {
	width: 12px;
	height: 12px;
	background-position: 0 0;
}

.icon--close-style2 {
	width: 12px;
	height: 12px;
	background-position: -13px 0;
}

.icon--external-link {
	width: 11px;
	height: 11px;
	background-position: 0 -13px;
}

.icon--facebook {
	width: 16px;
	height: 30px;
	background-position: 0 -25px;
}

.icon--free {
	width: 8px;
	height: 13px;
	background-position: -17px -25px;
}

.icon--highlight {
	width: 8px;
	height: 14px;
	background-position: -17px -39px;
}

.icon--librarian {
	width: 10px;
	height: 10px;
	background-position: -12px -13px;
}

.icon--open-access {
	width: 8px;
	height: 13px;
	background-position: -26px 0;
}

.icon--search {
	width: 16px;
	height: 16px;
	background-position: -35px 0;
}

.icon--sign-up {
	width: 24px;
	height: 18px;
	background-position: -52px 0;
}

.icon--twitter {
	width: 22px;
	height: 20px;
	background-position: -52px -19px;
}

.icon--close-style1, .icon--close-style2, .icon--external-link, .icon--facebook, .icon--free, .icon--highlight, .icon--librarian, .icon--open-access, .icon--search, .icon--sign-up, .icon--twitter {
	background-size: 77px 56px;
}

.no-svg .icon--close-style1, .no-svg .icon--close-style2, .no-svg .icon--external-link, .no-svg .icon--facebook, .no-svg .icon--free, .no-svg .icon--highlight, .no-svg .icon--librarian, .no-svg .icon--open-access, .no-svg .icon--search, .no-svg .icon--sign-up, .no-svg .icon--twitter {
	background-image: url("../../site/external/images/icon-sprite.png");
}

.icon--close-style1, .icon--close-style2, .icon--external-link, .icon--facebook, .icon--free, .icon--highlight, .icon--librarian, .icon--open-access, .icon--search, .icon--sign-up, .icon--twitter {
	background-image: url("../../site/external/images/icon-sprite.svg");
}
