.icon {
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -999em;
	vertical-align: baseline;

	// SPRITE ICONS
	&--facebook {
		background-color: #3b5999;
		border: solid #3b5999;
		border-width: 3px 10px;
	}

	&--twitter {
		background-color: #55acee;
		border: solid #55acee;
		border-width: 8px 7px;
	}

	&--sign-up {
		background-color: #00a47a;
		border: solid #00a47a;
		border-width: 9px 6px;
	}

	&--external-link {
		margin: 0 0 0 4px;
	}

	&--search {
		display: block;
		text-indent: -999em;
	}

	&--citation-search {
		background-color: #585858;
		border: 5px solid #585858;
		display: inline-block;
		height: 26px;
		line-height: 1;
		width: 26px;
	}

	&--agu-search {
		background-color: #4271be;
		border: 5px solid #4271be;
		display: inline-block;
		height: 27px;
		line-height: 1;
		width: 27px;
	}

	&--librarian {
		padding-right: 4px;
	}

	&--menu {
		background-color: #004273;
		border: solid #004273;
		border-width: 18px 15px;
		height: 48px;
		width: 48px;
	}

	&--highlight {
		margin: 0 4px 0 0;
		vertical-align: middle;
	}

	&--close-style2,
	&--close-style1 {
		display: block;
	}

	&--open-access,
	&--free {
		margin: 0 4px 0 11px;
	}

	&__text {
		&--highlight,
		&--open-access,
		&--free {
			font-size: .84615em;
		}

		&--highlight {
			color: #e8711a;
		}

		&--open-access {
			color: #89398D;
		}

		&--free {
			color: #cc8e2f;
		}
	}

	// CSS ICONS
	&--previous-style1,
	&--next-style1 {
		border-bottom: 6px solid transparent;
		border-right: 6px solid #bbb;
		border-top: 6px solid transparent;
		display: block;
		height: 0;
		left: 1px;
		position: relative;
		text-indent: -999em;
		width: 0;

		&:after {
			border-bottom: 4px solid transparent;
			border-right: 4px solid #eee;
			border-top: 4px solid transparent;
			content: '';
			height: 0;
			left: 2px;
			position: absolute;
			top: -4px;
			width: 0;
		}
	}

	&--next-style1 {
		border-right: 0;
		border-left: 6px solid #bbb;

		&:after {
			border-right: 0;
			border-left: 4px solid #eee;
			left: -6px;
		}
	}
}


// BESPOKE STYLES
.journal-overview__link--close {
	background-color: #585858;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px;
}

.figure-viewer__button {
	background-color: #eee;
	display: inline-block;
	height: 12px;
	font-size: 20px;
	line-height: 1;
	padding: 4px 6px;
	text-indent: -999em;
	vertical-align: top;
	width: 8px;
}

span.figure-viewer__button {
	background-color: transparent;
}

.easi-search__drop-arrow {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #000;
	height: 0;
	-moz-transform: scale(0.9999);
	width: 0;
}

.button {
	&--back {
		background-color: $button-style1-background;
		border: 0;
		height: 32px;
		position: relative;
		width: 32px;

		&:after {
			border-bottom: 8px solid $button-style1-background;
			border-top: 8px solid $button-style1-background;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__inner {
		&--back {
			border-bottom: 15px solid transparent;
			border-right: 15px solid $button-style1-icon;
			border-top: 15px solid transparent;
			display: block;
			height: 0;
			left: 50%;
			margin: -15px 0 0 -8px;
			position: absolute;
			text-indent: -999em;
			top: 50%;
			width: 0;

			&:after {
				border-bottom: 10px solid transparent;
				border-right: 10px solid $button-style1-background;
				border-top: 10px solid transparent;
				content: '';
				height: 0;
				left: 6px;
				position: absolute;
				top: -10px;
				width: 0;
			}
		}
	}

	&--previous-style1,
	&--next-style1 {
		background-color: $button-style2-background;
		border: 0;
		height: 32px;
		position: relative;
		width: 32px;

		&:after {
			border-bottom: 8px solid $button-style1-background;
			border-top: 8px solid $button-style1-background;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__inner {
		&--previous-style1,
		&--next-style1 {
			border-bottom: 15px solid transparent;
			border-right: 15px solid $button-style2-icon;
			border-top: 15px solid transparent;
			display: block;
			height: 0;
			left: 50%;
			margin: -15px 0 0 -8px;
			position: absolute;
			text-indent: -999em;
			top: 50%;
			width: 0;

			&:after {
				border-bottom: 10px solid transparent;
				border-right: 10px solid $button-style2-background;
				border-top: 10px solid transparent;
				content: '';
				height: 0;
				left: 6px;
				position: absolute;
				top: -10px;
				width: 0;
			}
		}

		&--next-style1 {
			border-left: 15px solid $button-style2-icon;
			border-right: 0;

			&:after {
				border-left: 10px solid $button-style2-background;
				border-right: 0;
				left: -16px;
			}
		}
	}
}

.lt-ie8 {
	.icon {
		&--facebook,
		&--twitter,
		&--sign-up,
		&--highlight,
		&--search,
		&--menu,
		&--librarian {
			float: left;
		}

		&--facebook,
		&--twitter,
		&--sign-up,
		&--close-style2,
		&--close-style1 {
			cursor: pointer;
		}

		&--search {
			border-width: 4px;
		}

		&--menu {
			border-width: 17px 14px;
		}

		&--librarian {
			margin-left: 6px;
		}
	}

	.figure-viewer__next-prev {
		min-height: 0;
	}

	.figure-viewer__button {
		cursor: pointer;
		float: left;
	}

	.easi-search__drop-arrow {
		display: block;
	}

	.button {
		&__inner {
			&--previous-style1,
			&--next-style1,
			&--back {
				border-width: 10px;
			}

			&--next-style1 {
				border-right-width: 0;
			}
		}
	}
}