// COLOURS
$white:							#fff;
$black:							#000;
$colour1:						#429fdd;		// Light blue
$colour2:						#004273;		// Dark blue
$colour3:						#f1f1f1;		// Very light grey
$colour4:						#f6f6f6;		// Light grey
$colour5:						#eee;			// Lighter grey
$colour6:						#bbb;			// Grey

$button-style1-icon:			$colour1;
$button-style1-background:		$white;
$button-style2-icon:			$colour6;
$button-style2-background:		$white;